[user]
name = Merrick Sapsford
email = merrick@sapsford.tech
[github]
	user = MerrickSapsford
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
[alias]
	co = checkout
	cam = commit -a -m
	c = commit
	s = status -s -u
	l = log --oneline --decorate
	listconf = config --global --list
[diff]
	tool = p4merge
[merge]
	tool = p4merge
[push]
	default = matching
